<div id="preloader">
    <div class="spinner spinner-round"></div>
</div>

<header>
    <!-- nav -->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="<%= root_path %>"><img src="<%= asset_path 'logo.png' %>" alt="logo"></a>
            </div><!-- / navbar-header -->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="<%= root_path %>"><span>HOME</span></a></li>
                    <li class="active"><a href="<%= pages_about_path %>"><span>ABOUT</span></a></li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>BLOG</span> <span class="dropdown-icon"></span></a>
                    <ul class="dropdown-menu animated zoomIn fast">
                        <li><a href="<%= pages_blog_path %>"><span>BLOG FULLWIDTH</span></a></li>
                        <li><a href="<%= blog_blog_masonry_path %>"><span>BLOG MASONRY</span></a></li>
                        <li><a href="<%= blog_blog_sidebar_path %>"><span>BLOG SIDEBAR</span></a></li>
                        <li><a href="<%= single_single_post_full_path %>"><span>POST FULLWIDTH</span></a></li>
                        <li><a href="<%= single_single_post_path %>"><span>POST SIDEBAR</span></a></li>
                    </ul>
                    </li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>PORTFOLIO</span> <span class="dropdown-icon"></span></a>
                    <ul class="dropdown-menu animated zoomIn fast">
                        <li><a href="<%= grid_grid_2col_path %>"><span>GRID 2COL</span></a></li>
                        <li><a href="<%= grid_grid_3col_path %>"><span>GRID 3COL</span></a></li>
                        <li><a href="<%= grid_grid_4col_path %>"><span>GRID 4COL</span></a></li>
                        <li><a href="<%= masonry_masonry2col_path %>"><span>MASONRY 2COL</span></a></li>
                        <li><a href="<%= masonry_masonry3col_path %>"><span>MASONRY 3COL</span></a></li>
                        <li><a href="<%= masonry_masonry4col_path %>"><span>MASONRY 4COL</span></a></li>
                        <li><a href="<%= single_single_project_path %>"><span>SINGLE PROJECT</span></a></li>
                        <li><a href="<%= single_single_project2_path %>"><span>SINGLE PROJECT 2</span></a></li>
                        <li><a href="<%= single_single_project3_path %>"><span>SINGLE PROJECT 3</span></a></li>
                    </ul>
                    </li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>PAGES</span> <span class="dropdown-icon"></span></a>
                    <ul class="dropdown-menu animated zoomIn fast">
                        <li><a href="<%= other_about2_path %>"><span>ABOUT 2</span></a></li>
                        <li><a href="<%= other_contact2_path %>"><span>CONTACT 2</span></a></li>
                        <li><a href="/404"><span>404 PAGE</span></a></li>
                        <li><a href="<%= other_components_path %>"><span>COMPONENTS</span></a></li>
                    </ul>
                    </li>
                    <li><a href="<%= pages_contact_path %>"><span>CONTACT</span></a></li>
                </ul>
            </div><!--/ nav-collapse -->
        </div><!-- / container -->
    </nav>
    <!-- / nav -->

    <!-- header-banner -->
    <div id="header-banner">
        <div class="banner-content single-page text-center">
            <div class="banner-info">
                <h1>ABOUT US</h1>
                <p>The amazing team behind MP.</p>
            </div><!-- / banner-info -->
        </div><!-- / banner-content -->
    </div>
    <!-- / header-banner -->
</header>